<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>订单状态详情</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
		<script src="../lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../js/util.js"></script>
		<script src="../js/Configuration.js"></script>
		<script src="../js/pageJs/OrderStatusDetails.js"></script>
	</head>
	<body>
		<div class="x-nav">
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="x-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12" >
					<div class="layui-input-inline">
						<input type="text" name="orderNumber" placeholder="订单号" autocomplete="off" class="layui-input" style="width: 200px;">
					</div>
				<!-- 	<div class="layui-input-inline">
						<input type="text" name="telephoneNumber" placeholder="联系电话" autocomplete="off" class="layui-input" style="width: 200px;">
					</div> -->
					<div class="layui-input-inline">
						<input type="text" name="signatory" placeholder="申请人" autocomplete="off" class="layui-input" style="width: 100px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="schedule" placeholder="工期" autocomplete="off" class="layui-input" style="width: 100px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="passportNum" placeholder="护照数" autocomplete="off" class="layui-input"  style="width: 100px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="time" placeholder="时间范围" autocomplete="off" class="layui-input time" style="width: 200px;">
					</div>
					<div class="layui-input-inline">
						<!-- <input type="text" name="username" placeholder="出签结果" autocomplete="off" class="layui-input" style="width: 150px;"> -->
						<select name="sendStatus">
							<option value="">请选择</option>
							<option value="S">已送签</option>
							<option value="O">已出签</option>
							<option value="R">已拒签</option>
						</select>
					</div>
					<div class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></div>
				</form>
			</div>
			<table id="order" lay-filter="order"></table>
		</div>
		<script type="text/html" id="operation">
			<div class="layui-btn layui-btn-small"lay-submit=""lay-filter="toOrder" id="exportBtn" >导出新增</div>
			<div class="layui-btn layui-btn-small"lay-submit=""lay-filter="toAllOrder">导出全部</div>
		</script>
	</body>
	
</html>
