<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
		<script src="../lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../js/pageJs/PassportList.js"></script>

	</head>

	<body>
		<div class="x-body">
			<table id="demo"></table>
		</div>
		<script type="text/html" id="operation">
			<div class="layui-btn layui-btn-sm">修改</div>
			<div class="layui-btn layui-btn-sm">打印条形码</div>
		</script>
	</body>

</html>
