<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
		<script src="../lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../js/Configuration.js"></script>
		<script src="../js/pageJs/PassportList.js"></script>

	</head>
	<style>
		#addInfo{
			display: none;
			margin-top: 10px;
		}
		.layui-field-title {
		    margin: 0px;
		    border-width: 0px 0 0;
		}
		.layui-form-item .layui-input-inline {
		    float: left;
		    width: 265px;
		    margin-right: 10px;
		}
	</style>
	<body>
		<div class="x-body">
			<table id="demo"></table>
		</div>
		<script type="text/html" id="operation">
			<div class="layui-btn layui-btn-sm" onclick="list()">修改</div>
			<div class="layui-btn layui-btn-sm to">打印条形码</div>
		</script>
		<script>
			function list() {
					index = layer.open({
						type: 1,
						area: ['70%', '100%'],
						anim: 2,
						title: '录入护照',
						maxmin: true,
						shadeClose: true,
						content: $('#addInfo')
					});
				}
		</script>
	</body>
	<div class="" id="addInfo">
		<form class="layui-form" autocomplete="off" lay-filter="testTeacher">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>基础信息：
					<div class=" layui-btn">图像识别</div>
					<div class=" layui-btn">信息检验</div>
				</legend>
				<div class="layui-field-box">
					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">订单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="orderNumber" placeholder="订单号" readonly="true" value="2020Y2M12D-001" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快递单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="courierNumber" placeholder="请输入快点单号" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">姓名：</label>
								<div class="layui-input-block widths">
									<input type="text" name="name" placeholder="请输入姓名" class="layui-input " lay-verify="required|phone">
								</div>
							</div>
						</div>
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">备注：</label>
								<div class="layui-input-block widths">
									<input type="text" name="remarks" placeholder="请输入备注" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">状态：</label>
								<div class="layui-input-block widths">
									<input type="text" name="status" placeholder="状态" readonly="true" value="已签收" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快件地址：</label>
								<div class="layui-input-block widths">
									<input type="text" name="expressAddress" placeholder="快件地址" readonly="true" value="广东省广州市" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="layui-elem-field layui-field-title">
				<legend>护照信息：</legend>
				<div class="layui-field-box">
					<div class="layui-form-item">
						<label class="layui-form-label">性别：</label>
						<div class="layui-input-block widths">
							<input type="text" name="sex" placeholder="请输入性别" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出生日期：</label>
						<div class="layui-input-block widths">
							<input type="text" name="birthDay" placeholder="请输入出生日期" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出生地：</label>
						<div class="layui-input-block widths">
							<input type="text" name="birthPlace" placeholder="请输入出生地" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">居住地：</label>
						<div class="layui-input-block widths">
							<input type="text" name="habitation" placeholder="请输入居住地" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">护照编码：</label>
						<div class="layui-input-block widths">
							<input type="text" name="passportEncoding" placeholder="请输入护照编码" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">有效日期：</label>
						<div class="layui-input-block widths">
							<input type="text" name="expiryDate" placeholder="请输入有效日期" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">联系电话：</label>
						<div class="layui-input-block widths">
							<input type="text" name="telephoneNumber" placeholder="请输入联系电话" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">寄回地址：</label>
						<div class="layui-input-block widths">
							<input type="text" name="returnAddress" placeholder="寄回地址" value="广东省广州市" class="layui-input " lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">运费已付：</label>
						<div class="layui-input-block widths">
							<input type="radio" name="luggage" value="是" title="是">
							<input type="radio" name="luggage" value="否" title="否" checked>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<!-- <button class="layui-btn" lay-submit lay-filter="update_Pwd">修改</button> -->
					<!-- <div class="layui-btn" onclick="supplement()">待补充</div> -->
					<div class=" layui-btn to"  lay-submit >提交</div>
					<div class=" layui-btn" lay-submit>导入护照回执</div>
				</div>
			</div>
		</form>
	</div>
</html>
