<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>签证信息检查</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
		<script src="../lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../js/util.js"></script>
		<script src="../js/Configuration.js"></script>
		<script src="../js/pageJs/VisaInformationCheck.js"></script>

	</head>
	<style>
		.widths {
				width: 300px;
			}
			
			#modifyOrder {
				display: none;
				margin-top: 10px;
			}
			#supplement {
				display: none;
				margin-top: 10px;
			}
			#addInfo{
				display: none;
				margin-top: 10px;
			}
			element.style {
			}
			.layui-field-title {
			    margin: 0px;
			    border-width: 0px 0 0;
			}
			.layui-form-item .layui-input-inline {
			    float: left;
			    width: 265px;
			    margin-right: 10px;
			}
		</style>
	<body>
		<div class="x-nav">
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="x-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12">
					<div class="layui-input-inline">
						<input type="text" name="orderNumber" placeholder="订单号" autocomplete="off" class="layui-input" style="width: 200px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="passportEncoding" placeholder="护照号码" autocomplete="off" class="layui-input" style="width: 200px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="name" placeholder="姓名" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="telephoneNumber" placeholder="联系电话" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
					<div class="layui-input-inline">
						<select name="city" lay-verify="required">
							<option value=""></option>
							<option value="0">待处理</option>
							<option value="1">已处理</option>
							<option value="2">异常</option>
						</select>
					</div>
					<div class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></div>
				</form>
			</div>
			<table id="Visa" lay-filter="Visa"></table>
		</div>
		<script type="text/html" id="operation">
			<!-- <div class="layui-btn layui-btn-sm" onclick="addInfo()">信息录入</div> -->
			<!-- <div class="layui-btn layui-btn-sm" onclick="look()">查看信息</div> -->
			<div class="layui-btn layui-btn-sm" onclick="list()">资料审核</div>
			<div class="layui-btn layui-btn-sm reamark">备注</div>
			<!-- <div class="layui-btn layui-btn-sm" onclick="supplement()">待补充</div> -->
			<!-- <div class="layui-btn layui-btn-sm">已检查</div> -->
		</script>
		<script type="text/html" id="importImg">
			<div class="layui-btn layui-btn-normal">导入图片</div>
		</script>
	</body>
	<script>
		function list() {
				index = layer.open({
					type: 1,
					area: ['70%', '100%'],
					anim: 2,
					title: '修改',
					maxmin: true,
					shadeClose: true,
					content: $('#modifyOrder')
				});
			}
			function addInfo() {
					index = layer.open({
						type: 1,
						area: ['80%', '100%'],
						anim: 2,
						title: '信息录入',
						maxmin: true,
						shadeClose: true,
						content: $('#addInfo')
					});
				}
		function reamark() {
				index = layer.open({
					type: 2,
					area: ['70%', '70%'],
					anim: 2,
					title: '备注信息',
					maxmin: true,
					shadeClose: true,
					content:"Remarks.html"
				});
			}
			function supplement() {
					index = layer.open({
						type: 1,
						area: ['500px', '400px'],
						anim: 2,
						title: '补充说明',
						maxmin: true,
						shadeClose: true,
						content: $('#supplement')
					});
				}
				function look() {
						index = layer.open({
							type: 2,
							area: ['80%', '100%'],
							anim: 2,
							title: '查看护照',
							maxmin: true,
							shadeClose: true,
							content: "PassportList.html"
						});
					}
			
	</script>
	<!--允许修基本信息和备注，订单号和状态不允许修改  -->
	<div id="modifyOrder" class="layui-fluid">

		<form class="layui-form" autocomplete="off" lay-filter="testTeacher">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>基础信息：</legend>
				<div class="layui-field-box">

					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">订单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="newPwd" placeholder="订单号" readonly="true" value="2020Y2M12D-001" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快递单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入快点单号" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">姓名：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入姓名" class="layui-input " lay-verify="required|phone">
								</div>
							</div>
						</div>
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">备注：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入备注" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">状态：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="状态" readonly="true" value="已签收" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快件地址：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="快件地址" readonly="true" value="广东省广州市" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>

			<div class="layui-row">
				<div class="layui-col-md6">

					<fieldset class="layui-elem-field layui-field-title">
						<legend>护照信息：</legend>
						<div class="layui-field-box">
							<div class="layui-form-item">
								<label class="layui-form-label">性别：</label>
								<div class="layui-input-block widths">
									<input type="radio" name="sex" value="男" title="男">
									<input type="radio" name="sex" value="女" title="女" checked>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">出生日期:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入出生日期" class="layui-input time" lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">出生地:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入出生地" class="layui-input " lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">居住地:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入居住地" class="layui-input " lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">护照编码:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入护照编码" class="layui-input " lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">有效日期:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入有效日期" class="layui-input time" lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">联系电话:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="请输入联系电话" class="layui-input " lay-verify="required|phone">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<div class="layui-inline">
									<label class="layui-form-label">寄回地址:</label>
									<div class="layui-input-inline widths">
										<input type="text" name="yesPwd" placeholder="寄回地址" value="广东省广州市" class="layui-input " lay-verify="required">
									</div>
									<div class="layui-input-inline" style="width: 30px;">
										<input type="checkbox" name="" lay-skin="primary">
									</div>
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">运费已付：</label>
								<div class="layui-input-block widths">
									<input type="radio" name="s" value="是" title="是">
									<input type="radio" name="s" value="否" title="否" checked>
								</div>
							</div>
						</div>
					</fieldset>
				</div>
				<div class="layui-col-md6">
					<div class="layui-form-item">
						<div class="layui-input-block" style="margin-left:10px ;">
							<img src="../images/timg.jpg" style="width: 100%;margin-top: 35px;" />
						</div>
					</div>

					<!-- 	<div class="layui-form-item">
						<label class="layui-form-label">补充：</label>
						<div class="layui-input-block widths">
							<div name="bc" class="ClassOption xm-select-demo" id="demo" lay-search="">
							</div>
						</div>
					</div> -->
					<div class="layui-form-item" id="bc">
						<label class="layui-form-label">补充：</label>
						<div class="layui-input-block widths">
							<input type="checkbox" name="" title="照片尺寸不合格" lay-skin="primary">
							<input type="checkbox" name="" title="照片超过半年" lay-skin="primary">
							<input type="checkbox" name="" title="护照有效期不够" lay-skin="primary">
							<input type="checkbox" name="" title="离上次回国时间太短" lay-skin="primary">
							<input type="checkbox" name="" title="缺少上一次的签证纸" lay-skin="primary">
							<input type="checkbox" name="" title="逾期逗留" lay-skin="primary">
							<input type="checkbox" name="" title="曾经逾期" lay-skin="primary">
							<input type="checkbox" name="" title="缺少身份证" lay-skin="primary">
							<input type="checkbox" name="" title="缺少户口本" lay-skin="primary">
							<input type="checkbox" name="" title="缺少公证文件" lay-skin="primary">
							<input type="checkbox" name="" title="缺少出生证" lay-skin="primary">
							<input type="checkbox" name="" title="缺少机票" lay-skin="primary">
						</div>
					</div>
					<div class="layui-form-item" id="bc">
						<label class="layui-form-label">补充说明：</label>
						<div class="layui-input-block widths">
							<input type="text" name="newPwd" placeholder="补充说明" class="layui-input " lay-verify="required">
						</div>
					</div>
				</div>

			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<!-- <button class="layui-btn" lay-submit lay-filter="update_Pwd">修改</button> -->
					<!-- <div class="layui-btn" onclick="supplement()">待补充</div> -->
					<div class=" layui-btn" lay-submit>审核未通过</div>
					<div class=" layui-btn" lay-submit>审核通过</div>
				</div>
			</div>
		</form>


	</div>
	<!-- 补充信息 -->
	<div id="supplement" class="layui-fluid">
		<form class="layui-form" autocomplete="off" lay-filter="testTeacher">
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button class="layui-btn" lay-submit lay-filter="update_Pwd">确认补充</button>
				</div>
			</div>
		</form>
	</div>
	<div class="layui-fluid" id="addInfo">
		<form class="layui-form" autocomplete="off" lay-filter="testTeacher">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>基础信息：</legend>
				<div class="layui-field-box">
					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">订单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="newPwd" placeholder="订单号" readonly="true" value="2020Y2M12D-001" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快递单号：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入快点单号" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">姓名：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入姓名" class="layui-input " lay-verify="required|phone">
								</div>
							</div>
						</div>
						<div class="layui-col-md6">
							<div class="layui-form-item">
								<label class="layui-form-label">备注：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="请输入备注" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">状态：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="状态" readonly="true" value="已签收" class="layui-input " lay-verify="required">
								</div>
							</div>
							<div class="layui-form-item">
								<label class="layui-form-label">快件地址：</label>
								<div class="layui-input-block widths">
									<input type="text" name="yesPwd" placeholder="快件地址" readonly="true" value="广东省广州市" class="layui-input "
									 lay-verify="required">
								</div>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
			<fieldset class="layui-elem-field layui-field-title">
				<legend>护照信息：</legend>
				<div class="layui-field-box">
					<div class="layui-form-item">
						<label class="layui-form-label">性别：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入性别" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出生日期：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入出生日期" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">出生地：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入出生地" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">居住地：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入居住地" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">护照编码：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入护照编码" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">有效日期：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入有效日期" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">联系电话：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="请输入联系电话" class="layui-input " lay-verify="required|phone">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">寄回地址：</label>
						<div class="layui-input-block widths">
							<input type="text" name="yesPwd" placeholder="寄回地址" value="广东省广州市" class="layui-input " lay-verify="required">
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label">运费已付：</label>
						<div class="layui-input-block widths">
							<input type="radio" name="sex" value="是" title="是">
							<input type="radio" name="sex" value="否" title="否" checked>
						</div>
					</div>
				</div>
			</fieldset>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<!-- <button class="layui-btn" lay-submit lay-filter="update_Pwd">修改</button> -->
					<!-- <div class="layui-btn" onclick="supplement()">待补充</div> -->
					<div class=" layui-btn" lay-submit>确认提交</div>
					<div class=" layui-btn" lay-submit>导入护照回执</div>
					<div class=" layui-btn" lay-submit>图像识别</div>
					<div class=" layui-btn" lay-submit>信息检验</div>
				</div>
			</div>
		</form>
	</div>

</html>
