<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<title>签证处理进度</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../css/font.css">
		<link rel="stylesheet" href="../css/xadmin.css">
		<link rel="stylesheet" href="../lib/layui/css/layui.css" media="all">
		<script src="../lib/js/jquery.min.js"></script>
		<script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
		<script src="../js/util.js"></script>
		<script src="../js/Configuration.js"></script>
		<script src="../js/pageJs/VisapProcessing.js"></script>

	</head>
	<style>
		.widths {
				width: 300px;
			}
			
			#info {
				display: none;
				margin-top: 10px;
			}
			#toinfo {
				display: none;
				margin-top: 10px;
			}
			.brs{
				border: 1px solid;
			}
		</style>
	<body>
		<div class="x-nav">
			<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right;" href="javascript:location.replace(location.href);"
			 title="刷新">
				<i class="layui-icon" style="line-height:30px">&#xe669;</i></a>
		</div>
		<div class="x-body">
			<div class="layui-row">
				<form class="layui-form layui-col-md12">
					<div class="layui-input-inline">
						<input type="text" name="orderNumber" placeholder="订单号" autocomplete="off" class="layui-input" style="width: 200px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="name" placeholder="申请人姓名" autocomplete="off" class="layui-input" style="width: 200px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="passportEncoding" placeholder="护照号码" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
					<div class="layui-input-inline">
						<input type="text" name="telephoneNumber" placeholder="联系电话" autocomplete="off" class="layui-input" style="width: 150px;">
					</div>
					<div class="layui-input-inline">
						<!-- <input type="text" name="username" placeholder="出签结果" autocomplete="off" class="layui-input" style="width: 150px;"> -->
						<select name="sendStatus">
							<option value="">请选择</option>
							<option value="S">已送签</option>
							<option value="O">已出签</option>
							<option value="R">已拒签</option>
							<option value="SB">已寄回</option>
						</select>
					</div>
					<div class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></div>
				</form>
			</div>
			<!-- 签证处理列表 -->
			<table id="Visa" lay-filter="Visa"></table>
			<blockquote class="layui-elem-quote layui-quote-nm">
				<!-- <li>用户管理<span class="layui-badge-dot"></span></li> -->
				<span class="layui-badge" style="background-color: red;">少于3个工作日订单</span>
			</blockquote>
		</div>
		<script type="text/html" id="operation">
			<div class=" layui-btn layui-btn-sm" onclick="reamark()">备注</div>
			{{# if(d.sendStatus=="N"){ }}
				<div class="layui-btn layui-btn-sm visa" >送签</div>
			{{# }else if(d.sendStatus=="S"){ }}
				<div class="layui-btn layui-btn-sm noVisa">拒签</div>
				<div class="layui-btn layui-btn-sm toVisa" >出签</div>
			{{# }else if(d.sendStatus=="O"){ }}
				<div class="layui-btn layui-btn-sm" onclick="toinfo()">寄回</div>
				<div class="layui-btn layui-btn-sm" onclick="toinfo()">一同寄回</div>
			{{# }else if(d.sendStatus=="R"){ }}
				<div class="layui-btn layui-btn-sm" onclick="toinfo()">寄回</div>
				<div class="layui-btn layui-btn-sm" onclick="toinfo()">一同寄回</div>
			{{# }else if(d.sendStatus=="SB"){ }}
				<div class="">已寄回</div>
			{{# } }}
		</script>
		<script>
			function supplement() {
					index = layer.open({
						type: 1,
						area: ['500px', '400px'],
						anim: 2,
						title: '确认信息',
						maxmin: true,
						shadeClose: true,
						content: $('#info')
					});
				}
			function reamark() {
				index = layer.open({
					type: 2,
					area: ['70%', '70%'],
					anim: 2,
					title: '备注信息',
					maxmin: true,
					shadeClose: true,
					content: "Remarks.html"
				});
			}
		</script>
	</body>
	<div id="info" class="layui-fluid">
		<form class="layui-form" autocomplete="off">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名：</label>
				<div class="layui-input-block widths">
					<input type="text" name="name" placeholder="姓名" readonly="true" value="王小二" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="性别" readonly="true" value="男" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">出生日期：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="出生日期" readonly="true" value="1998-12-11" class="layui-input "
					 lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">出生地：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="出生地" readonly="true" value="广州海珠区" class="layui-input " >
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">居住地：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="居住地" readonly="true" value="广州白云区" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">护照编码：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="护照编码" readonly="true" value="2020Y2M12D-001" class="layui-input "
					 lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">有效日期：</label>
				<div class="layui-input-block widths">
					<input type="text" name="newPwd" placeholder="有效日期" readonly="true" value="2022-12-12" class="layui-input "
					 lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<!-- <button class="layui-btn" lay-submit lay-filter="update_Pwd">修改</button> -->
					<!-- <div class="layui-btn" onclick="supplement()">待补充</div> -->
					<div class=" layui-btn" lay-submit>确认提交</div>
				</div>
			</div>
		</form>
	</div>
	<div id="toinfo" class="layui-fluid">
		<form class="layui-form" autocomplete="off" lay-filter="test">
			<div class="layui-form-item">
				<label class="layui-form-label">姓名：</label>
				<div class="layui-input-block widths">
					<input type="hidden" name="id" />
					<input type="text" name="name" placeholder="姓名" readonly="true" value="王小二" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">性别：</label>
				<div class="layui-input-block widths">
					<input type="radio" name="sex" value="M" title="男" checked>
					<input type="radio" name="sex" value="F" title="女">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">出生日期：</label>
				<div class="layui-input-block widths">
					<input type="text" name="birthDay" placeholder="出生日期" readonly="true" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">出生地：</label>
				<div class="layui-input-block widths">
					<input type="text" name="birthPlace" placeholder="出生地" readonly="true" class="layui-input " >
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">居住地：</label>
				<div class="layui-input-block widths">
					<input type="text" name="habitation" placeholder="居住地" readonly="true" class="layui-input ">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">护照编码：</label>
				<div class="layui-input-block widths">
					<input type="text" name="passportEncoding" placeholder="护照编码" readonly="true" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">有效日期：</label>
				<div class="layui-input-block widths">
					<input type="text" name="expiryDate" placeholder="有效日期" readonly="true" class="layui-input " lay-verify="required">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">联系电话：</label>
				<div class="layui-input-block widths">
					<input type="text" name="telephoneNumber" placeholder="寄回地址" class="layui-input " lay-verify="required|phone">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">寄回地址：</label>
				<div class="layui-input-block widths">
					<input type="text" name="returnAddress" placeholder="寄回地址" class="layui-input brs" lay-verify="required">
				</div>
			</div>
			<!-- <div class="layui-form-item">
				<label class="layui-form-label">快递单号：</label>
				<div class="layui-input-block widths">
					<input type="text" name="courierNumber" placeholder="快递单号" class="layui-input brs" >
				</div>
			</div> -->
			<div class="layui-form-item">
				<div class="layui-input-block">
					<!-- <button class="layui-btn" lay-submit lay-filter="update_Pwd">修改</button> -->
					<!-- <div class="layui-btn" onclick="supplement()">待补充</div> -->
					<div class=" layui-btn" lay-submit lay-filter="sendBack">确认提交</div>
				</div>
			</div>
		</form>
	</div>
</html>
